/**
 * rest сервисы ренессанс
 * rest сервисы ренессанс
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object AuthCorrectnessApi {

  /**
   * проверка jwt-токена, полученного ранее от сервиса авторизации
   * 
   * Expected answers:
   *   code 200 :  (возвращается в том случае, если токен валиден)
   *   code 401 :  (Unauthorized)
   * 
   * Available security schemes:
   *   Bearer (apiKey)
   */
  def authCorrectness()(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://virtserver.swaggerhub.com/renessansBankService/restServices/1.0.0", "/services/rest-api/auth/authorization/actuality", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](401)
      

}

