/**
 * rest сервисы УФОС
 * rest сервисы ядра УФОС
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object DocumentApi {

  /**
   * получение полей документа по гуид. Все наименования полей документа имеют идентификаторы в соответсвтвии с дескриптором mapping.
   * 
   * Expected answers:
   *   code 200 : Seq[Any] (полученный документ. Все наименования полей документа имеют идентификаторы в соответсвтвии с дескриптором mapping.)
   *   code 400 :  (bad input parameter)
   *   code 401 :  (Unauthorized)
   *   code 404 :  (запрос с переданным идентификатором не найден)
   *   code 500 :  (Internal Server Error)
   * 
   * Available security schemes:
   *   Bearer (apiKey)
   * 
   * @param docType тип документа для загрузки
   * @param guid гуид загружаемого документа
   */
  def getDocument(docType: String, guid: String)(implicit apiKey: ApiKeyValue): ApiRequest[Seq[Any]] =
    ApiRequest[Seq[Any]](ApiMethods.GET, "https://virtserver.swaggerhub.com/renessansBankService/restServices/1.0.0", "/rest-api/core/v1/document/get/{docType}/{guid}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("docType", docType)
      .withPathParam("guid", guid)
      .withSuccessResponse[Seq[Any]](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](404)
      .withErrorResponse[Unit](500)
      

}

