/**
 * rest сервисы ренессанс
 * rest сервисы ренессанс
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import java.io.File
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object PrintServiceApi {

  /**
   * получение pdf-файла для заданного документа
   * 
   * Expected answers:
   *   code 200 : File (сформированный или полученный pdf-файл)
   *   code 400 :  (bad input parameter)
   *   code 404 :  (документ не найден)
   *   code 500 :  (Internal Server Error)
   * 
   * Available security schemes:
   *   Bearer (apiKey)
   * 
   * @param documentGuid гуид Договора/ДС или акта
   */
  def printService(documentGuid: String)(implicit apiKey: ApiKeyValue): ApiRequest[File] =
    ApiRequest[File](ApiMethods.GET, "https://virtserver.swaggerhub.com/renessansBankService/restServices/1.0.0", "/services/func/rest-api/print/{documentGuid}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withPathParam("documentGuid", documentGuid)
      .withSuccessResponse[File](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](404)
      .withErrorResponse[Unit](500)
      

}

